# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.lock
# node / npm
node_modules
npm-debug.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# mac files
.DS_Store


